.logo {
   width: 90;
   height: 90;
}
.container {
   max-width: 1350px !important;
}
.content {
   max-width: 1400px !important;
}
optgroup {
   font-weight: 700;
}

a.nav-link {
   color: darkgrey;
}

a.nav-link:hover {
   background: #282d2f !important;
   color: #fff !important;
}
a.nav-link.active {
   background: #282d2f !important;
   color: #fff !important;
}
.quotient-table {
   table-layout: fixed;
   width: 100%;
   max-width: 100%;

   td {
      padding: 10px;
      line-height: 1.3666;
      vertical-align: top;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }
   a:not(.btn) {
      color: #30353c;
      outline: none;
   }
}

.rowClick {
   cursor: pointer;

   tr:hover {
      td {
         background: #cdeed0;
         // border-left: 2px solid green;
         // padding-left: 8px;
      }
   }
   .mod-white td {
      background: rgb(252, 249, 242);
      border-top-color: bisque;
      border-bottom-color: bisque;
   }
   .mod-green td {
      background: #f2fdf3;
      border-top-color: bisque;
      border-bottom-color: bisque;
   }
   .mod-blue td {
      background: #f2f7fd;
      border-top-color: bisque;
      border-bottom-color: bisque;
   }
}
.u-ellipsis {
   overflow: hidden;
   text-overflow: ellipsis;
}
.text-gray {
   color: #8c8c8c !important;
}

.stat-h1 {
   margin: 30px auto 20px;
   text-align: center;
}
.avatar-32 {
   width: 32px;
   height: 32px;
}
.bg-custom {
   background: url("/assets/media/images/default-overlay.png") no-repeat top;
}
.image-preview-size {
   max-width: 200px;
   height: auto;
}
.animation {
   transition: all 0.5s ease-out;
}
.bg-light-gray {
   background-color: #f5f5f5;
}
.width-115 {
   width: 115px;
}
.maxWidth-550 {
   max-width: 550px !important;
}
.border-thick {
   border-width: 4px;
}